body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 16px; /* Reduced font size */
}

#title {
    font-size: 24px; /* Reduced font size */
    font-weight: bold;
    color: rgb(62, 62, 62);
    margin-top: 10px; /* Reduced margin top */
    margin-bottom: 10px; /* Reduced margin bottom */
}

#container {
    text-align: center;
}

.logo {
    max-width: 200px; /* Reduced logo size */
    max-height: 200px; /* Reduced logo size */
    margin: 5px; /* Reduced margin */
    cursor: pointer;
    opacity: 0.6;
}

.logo.selected {
    opacity: 1;
}

#search-input {
    width: 70%; /* Increased input width */
    height: 40px; /* Reduced input height */
    position: relative;
    padding: 8px; /* Reduced padding */
    font-size: 16px; /* Reduced font size */
    color: rgb(26, 26, 26);
    font-family: Arial, sans-serif;
    border: 1px solid #d3d3d3;
    border-radius: 50px;
    margin-bottom: 10px;
    outline: none;
    caret-color: black;
}

#search-input:hover {
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

#search-input:focus {
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

#search-button {
    align-items: flex-start;
    font-family: Arial, sans-serif;
    font-size: 20px; /* Reduced font size */
    text-align: center;
    cursor: pointer;
    color: #5F6368 !important;
    background-color: #f4f4f4 !important;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 15px; /* Reduced padding */
    border: none !important;
    width: 100%;
    position: relative;
    height: 50px; /* Reduced button height */
    max-width: 140px; /* Reduced max-width */
    min-width: 130px; /* Reduced min-width */
}

#search-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.3) !important;
}

#footer {
    text-align: center;
    padding: 10px 0; /* Reduced padding */
    font-family: Arial, sans-serif;
    border-top: 1px solid #e4e4e4; /* Light border at the top */
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px; /* Reduced font size */
    color: #3c3c3c;
}
