body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 16px;
}

#title {
    font-size: 24px;
    font-weight: bold;
    color: rgb(62, 62, 62);
    margin-top: 10px;
    margin-bottom: 10px;
}

#container {
    text-align: center;
}

.logo {
    max-width: 200px;
    max-height: 200px;
    margin: 5px;
    cursor: pointer;
    opacity: 0.6;
}

.logo:hover {
    box-shadow: 3px 3px 6px rgba(0,0,0,0.16);
}

.logo.selected {
    opacity: 1;
}

#search-input {
    width: 70%;
    height: 40px;
    position: relative;
    padding: 8px;
    font-size: 16px;
    color: rgb(26, 26, 26);
    font-family: Arial, sans-serif;
    border: 1px solid #d3d3d3;
    border-radius: 50px;
    margin-bottom: 10px;
    outline: none;
    caret-color: black;
}

#search-input:hover {
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

#search-input:focus {
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

#search-button {
    align-items: flex-start;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    color: #5F6368 !important;
    background-color: #f4f4f4 !important;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 15px;
    border: none !important;
    width: 100%;
    position: relative;
    height: 50px;
    max-width: 140px;
    min-width: 130px;
}

#search-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.3) !important;
}

#footer {
    text-align: center;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    border-top: 1px solid #e4e4e4;
    position: sticky;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: #3c3c3c;
}

@media only screen and (max-width: 600px) {
    /* Adjustments specific to mobile devices */
    #footer {
        position: relative; /* or other positioning as needed */
    }
}

